importFrom("stats", "cor.test", "fisher.test", "ks.test", "p.adjust", "quantile")
importFrom("BiocGenerics")
importFrom("graph")
importFrom("graphite")
importFrom("igraph")
importFrom("org.Hs.eg.db")
