import('org.Hs.eg.db', 'graphite', 'BiocGenerics', 'graph', 'igraph', except=c(graph::edges, graph::degree, graph::intersection, graph::union, BiocGenerics::normalize, BiocGenerics::path)) 
importFrom("stats", "cor.test", "fisher.test", "ks.test", "p.adjust", "quantile")
